$background: #605856;
$blue: #283845;
$green: #3b5249;
$black: #1b1b1e;
$yellow: #d5a021;


.wrapper {
    width: 80%;
    margin: 0 auto;
}

body {
    // background: #283845;
    background: #605856;
}

// RESPONSIVE MEDIA QUERIES

@media only screen and (max-width: 920px) {
    .wrapper {
        width: 95%;
    }
}

