.quizIntro {
    display: flex;
    align-items: center;
    height: 100vh;
    h1 {
        margin: 0;
        padding: 0;
    }
    h2 {
        color: $yellow;
        margin: 0;
        padding: 0;
    }
}

.introStart {
    width: 40%;
    margin-right: 5%;
}

.introImage {
    width: 60%;
}

.introImage img {
    width: 100%;
}

button.start {
    width: 160px;
    height: 40px;
    @include fontSize(16);
    color: $black;
    background: $yellow;
    border: none;
    margin-top: 5%;
}


// RESPONSIVE MEDIA QUERIES

@media only screen and (max-width: 770px) {
    .quizIntro {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .introStart {
    width: 100%;
    text-align: center;
    }

    .introImage {
        width: 60%;
    }
}

@media only screen and (max-width: 430px) {
    .introImage {
        width: 80%;
    }
}

