.question1 {
    display: flex;
    flex-direction: column;
}

.questionWrapper h3 {
    color: $yellow;
    text-align: center;
}

.questionTextImage {
    display: flex;
    align-items: center;
}

.questionText {
    width: 40%;
    margin-right: 2%;
    ul {
        margin: 0;
        padding: 0 0 10% 0;
        list-style: none;
        li {
            font-family: 'Open Sans', sans-serif;
            @include fontSize(12);
            margin-bottom: 5%;
            display: block;
        }
    }
}

.questionImage {
    width: 60%;
    img {
        width: 100%;
    }
}


button.next1, button.next2, button.next3, button.next4, input.submitButton{
    width: 180px;
    height: 40px;
    @include fontSize(16);
    color: $black;
    background: $yellow;
    border: none;
}


input[type="radio"] {
  visibility: hidden;
  float: left;
}

input[type=radio]:checked ~ label {
  color: $yellow;
}


label::before {
  display: inline-block;
  content: "";
  border: 5px solid black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  margin-right: 10px;
  margin-left: -43px;
  margin-bottom: none;
}

label {
  margin-bottom: 5px;
}

input[type=radio]:checked ~ ::before {
  background: $yellow }


  // RESPONSIVE MEDIA QUERIES

@media only screen and (max-width: 1285px) {
  .questionText li {
    @include fontSize(10);
  }
}  

@media only screen and (max-width: 920px) {
  h3 {
    margin: 2% 0 0 0;
  }

  .questionTextImage {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    .questionText {
      width: 70%;
    }
    .questionImage {
      width: 50%;
    }
  }  
}

@media only screen and (max-width: 445px) {
  h3 {
    margin: 2% 0 2% 0;
  }

  .questionImage {
    display: none;
  }

  .questionText ul {
    padding: 1%;
  }
}
